body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f4f6f9;
}

/* HEADER */
header {
  background: linear-gradient(135deg, #0a2540, #00b4d8);
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 28px;
}

.logo {
  width: 310px;
  border-radius: 50%;
}

/* BOTONES */
.btn, .btn-menu {
  display: block;
  width: 80%;
  max-width: 300px;
  margin: 10px auto;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: #00b4d8;
  color: white;
  font-size: 16px;
  transition: 0.3s;
  font-size: 28px;
}

.btn-menu:hover {
  background: #0077b6;
  transform: scale(1.05);
  cursor: pointer;
}

.btn:hover {
  background: #0077b6;
  transform: scale(1.05);
}

.volver {
  background: #6c757d;
}

/* SECCIONES */
.pantalla {
  text-align: center;
  padding: 20px;
  font-size: 28px;
}

.oculto {
  display: none;
}

.pantalla {
  background: linear-gradient(135deg, #0a2540, #00b4d8);
  border-radius: 20px;
  padding: 25px;
  margin: 20px auto;
  width: 90%;
  max-width: 500px;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
  animation: fade 0.4s;
}

/* TARJETAS */
.card {
  background: white;
  border-radius: 15px;
  padding: 15px;
  margin: 15px auto;
  width: 85%;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
  animation: fade 0.4s;
  font-size: 28px;
}

/* TEXTO MENU */
.card p {
    background: white;
  border-radius: 15px;
  padding: 15px;
  margin: 15px auto;
  width: 85%;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
  animation: fade 0.4s;
  font-size: 28px;
}

.card b {
  color: #00b4d8;
}

/* TITULOS */
h2 {
  color: #ffffff;
}

/* ANIMACIÓN */
@keyframes fade {
  from {opacity: 0; transform: translateY(10px);}
  to {opacity: 1;}
}